@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lobster&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lobster&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background: url(./image/backgr.jpg) no-repeat;
  background-size: 100%;
}

.main {
  width: 70%;
  height: 30em;
  box-shadow: 5px 5px 7px 1px #0000003f;
  border-radius: 0.75em;
  display: flex;
  flex-direction: row;
  position: relative;
}

.items {
  min-width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
  position: absolute;
  right: -100%;
}

.happybirthday {
  background: #102C57;
}

.happybirthday_decor {
  position: absolute;
  background-size: 10em;
  width: 80%;
  transform: translate(0em, -10em) rotate(-15deg);
  z-index: 0;
}

.happybirthday_lamp svg .lamp {
  fill: #272727;
}


.happybirthday_lamp {
  width: 35%;
  position: absolute;
  transform: translate(13em, 6em) rotate(-10deg);
}


.happybirthday .content {
  width: 70%;
  color: #fff;
}

.happybirthday .imageIntro {
  /* width: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-5deg);
  overflow: visible;
}

.imageIntro_image {
  width: 15em;
  height: 19em;
  border-radius: 0.3em;
  background: #fff;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 0 2px #0000005b;
}

.imageIntro_image_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.75em;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.imageIntro_image_link {
  width: 100%;
  border-radius: 0.3em;
}

.imageIntro .flower {
  width: 45%;
  position: absolute;
  right: -3em;
  top: 2em;
  animation: flowerAnimation 20s linear infinite;  
}

@keyframes flowerAnimation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* https://i.pinimg.com/736x/41/44/22/4144226c9253257ba77453d189f678f1.jpg */

/* .happybirthday {
  animation: nextSlide .5s cubic-bezier(0, 0, 0.1, 1);
} */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  z-index: 1;
}

.content_title h1 {
  font-family: "Bungee", sans-serif;
  letter-spacing: 1px;
}

.content_title h3 {
  font-family: "Lobster", sans-serif;
}

.content_button {
  cursor: pointer;
  transform: translateY(4em);
  appearance: none;
  outline: none;
  border: none;
  background: #74E291;
  padding: 1em 2em 1em 2em;
  border-radius: 5em;
  font-family: "Quicksand", sans-serif;
  color: #FEFDED;
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #102C57;
}


.content_button ion-icon {
  transition: .3s;
}

.content_button:hover ion-icon {
  transform: translateX(0.5em);
}

.btn {
  cursor: pointer;
  width: 3em;
  height: 3em;
  background: #fff;
  border-radius: 50%;
  padding: 4px;
  box-shadow: 0 0 7px 1px #00000046;
  transition: .2s;
}

.btn ion-icon {
  width: 100%;
  height: 100%;
  color: #272829;
  transition: .2s;
}

@media (max-width: 1440px) {
  .btn:hover {
    background: #c4c4c4;
  }
}

@media (max-width: 768px) {
  .btn:active {
    background: #c9c9c9;
  }
}

@keyframes nextSlide {
  0% {
    right: -100%;
  }

  100% {
    right: 0%;
  }
}

@keyframes nextSlidePre {
  0% {
    right: 0%;
  }

  100% {
    right: 100%;
  }
}

@keyframes preSlide {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}

@keyframes preSlideNext {
  0% {
    right: 100%;
  }

  100% {
    right: 0%;
  }
}

.process {
  position: absolute;
  bottom: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.outline_dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
}

.dots {
  width: 0.7em;
  height: 0.7em;
  border-radius: 2em;
  background: #FCFFE0;
  /* background: #96ffb2; */
  transition: 0.5s;
}

.cake {
  z-index: 1;
  background: #EEF7FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cake .cakesvg svg {
  width: 30em;
  height: 30em;
}

.fire {
  /* transform-origin: 50% 50%; */
  animation: turnfire 2s ease-in-out infinite;
  /* animation: rotateFire .75s linear infinite; */
}



.off {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transform: translateY(-2em);
  overflow: visible;
}

.turnoff {
  cursor: pointer;
  width: 10em;
  height: 3em;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 5em;
  background: #74e291;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  color: #102c57;
  font-size: 1.02em;
  box-shadow: 2px 2px 6px 2px #00000021;
}

@keyframes turnfire {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}


.treoco {
  width: 100%;
  position: absolute;
  transform: rotate(25deg) translate(7em, -15em) scale(0.7);
}

.treoco2 {
  width: 100%;
  position: absolute;
  transform: rotate(-25deg) translate(-7em, -15em) scale(0.7);
}

.treoco3 {
  width: 100%;
  position: absolute;
  transform: translateY(-15em) scale(0.7);
  /* z-index: 1; */
}

.off p {
  margin: 5px 0 5px 0;
  font-weight: 700;
  color: #102C57;
}

.highlight {
  padding: 9px;
  background: #F3CA52;
  color: #102C57;
  font-weight: bold;
  font-family: "Roboto Mono", sans-serif;
  border-radius: 10px;
}

.gift {
  cursor: pointer;
  width: 15%;
  position: absolute;
  z-index: 1;
  right: 2em;
  bottom: 1em;
  overflow: visible;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift svg {
  overflow: visible;
}


.open {
  transform-origin: 100% 35%;
  transition: .25s ease-out;
  /* animation: open 2s ease-in-out infinite; */
}

.gift .gift_box:hover .open {
  transform: rotate(90deg);
}

.gift_box {
  z-index: 1;
}

.chym {
  z-index: 0;
  position: absolute;
  width: 50%;
  transform: translateY(30%);
}

.gift:hover .chym{
  /* transform: translateY(-100%); */
  animation: bird 0.75s ease-out;
  animation-delay: .5s;
  animation-fill-mode: forwards;
} 

.gift:not(:hover) .chym {
  animation: closebird .25s ease-out;
}


@keyframes open {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(90deg);
  }
}


@keyframes close {
  0% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(0);
  }
}

@keyframes bird {
  0% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(-90%);
  }
}

@keyframes closebird {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(30%);
  }
}

.cake .cake_images {
  font-family: "Quicksand", san-rerif;
  font-size: 0.8em;
  font-weight: 700;
  position: absolute;
  width: 15%;
  bottom: 5em;
  left: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 5px 5px 7px 1px #00000021;
  transform: rotate(-10deg);
  padding: 1em;
  border-radius: 0.5em;
  gap: 5px;
}

.cake .cake_images img {
  background-size: cover;
  width: 100%;
  border-radius: 0.4em;
}

.cake .cake_image_content {
  text-align: center;
}

.bestwishes {
  z-index: 1;
  background: #102C57;
}

.bestwishes .bestwishes_image_slide {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestwishes_image_slide_inside {
  width: 20em;
  height: 25em;
  background: #EEF7FF;
  border-radius: 0.5em;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  transform: rotate(-5deg);
  box-shadow: 10px 10px 0 0 #00000077;
}

.bestwishes_image_slide_indside_image {
  width: 100%;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

#bestwishes_slide_images {
  border-radius: 0.4em;
  width: 100%;
}

@keyframes frierenSlideShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes frierenSlideShowOut {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: frierenSlideShow .5s;
}

.faceOut {
  animation: frierenSlideShowOut .5s;
}

.bestwishes_image_slide_indside_content {
  font-family: "Quicksand", san-rerif;
  text-align: center;
  font-weight: 700;
}

.bestwishes_content {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.bestwishes_content h2 {
  font-family: "Bungee", sans-serif;
}

.bestwishes_content_inside {
  width: 20em;
  height: 18em;
  padding: 0 0.5em 0 0;
  font-family: "Quicksand", san-rerif;
  overflow: auto;
  text-align: justify;
  text-indent: 3em;
}

.bestwishes_content_inside::-webkit-scrollbar {
  width: 0.4em;
  /* border: 1px solid #74E291; */
  background: #0000003a;
  border-radius: 0.5em;
}

.bestwishes_content_inside::-webkit-scrollbar-thumb {
  width: 100%;
  background: #74E291;
  border-radius: 0.5em;
}

.dream {
  z-index: 1;
}

.images {
  z-index: 1;
}

.sourcecode {
  z-index: 1;
}